In [1]:
def find_it(seq):
    
    sub_seq = []
    
    for elem in seq:
        if elem not in sub_seq:
            sub_seq.append(elem)
    
    print(sub_seq)
    odd_val = 0
    
    elem_count = 0
    
    for elem in seq:
        
        elem_count = sub_seq.count(elem)
        print('element:', elem, 'count: ', elem_count)
    
        if elem_count % 2 > 0:
            odd_val = elem
            print(odd_val)
        
        
    return odd_val

In [2]:
find_it([1,1,1,1,1,1,10,1,1,1,1])

[1, 10]
element: 1 count:  1
1
element: 1 count:  1
1
element: 1 count:  1
1
element: 1 count:  1
1
element: 1 count:  1
1
element: 1 count:  1
1
element: 10 count:  1
10
element: 1 count:  1
1
element: 1 count:  1
1
element: 1 count:  1
1
element: 1 count:  1
1

1

In [3]:
find_it([20,1,1,2,2,3,3,5,5,4,20,4,5])

[20, 1, 2, 3, 5, 4]
element: 20 count:  1
20
element: 1 count:  1
1
element: 1 count:  1
1
element: 2 count:  1
2
element: 2 count:  1
2
element: 3 count:  1
3
element: 3 count:  1
3
element: 5 count:  1
5
element: 5 count:  1
5
element: 4 count:  1
4
element: 20 count:  1
20
element: 4 count:  1
4
element: 5 count:  1
5

5

In [4]:
test = [20,1,1,2,2,3,3,5,5,4,20,4,5]

In [5]:
test.sort()
test

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 5, 20, 20]

In [6]:
test.count(20)

2

In [7]:
test.count(4)

2

In [8]:
test_sub = [20, 1, 2, 3, 5, 4]

In [9]:
elem_count = 0
for elem in test_sub:
     elem_count = test_sub.count(elem)
     print(elem_count)

1
1
1
1
1
1

In [10]:
def solution(n):
    # TODO convert int to roman string
    
    if n < 1 or n > 3999:
        return None
    
    numeral = ''
    
    
        
    return

In [11]:
n = 3989

n % 1000

989

In [12]:
int(n/1000)

3

In [13]:
395 % 50

45

In [14]:
n = 21


numeral = ''

thou_place = int(n/1000)
hund_place = int(n%1000/100)
ten_place = int((n%100)/10)
ones_place = n%10

print('thousands: ', thou_place)
print('hundreds: ', hund_place)
print('tens: ', ten_place)
print('ones: ', ones_place)

thousands = ''
hundreds = ''
tens = ''
ones = ''

if n > 1000:
    thousands += ('M' * thou_place)

if n == 1000:
    thousands += 'M'

## HUNDREDS
if hund_place < 4:
    hundreds += 'I' * hund_place

if hund_place == 9:
    hundreds += 'C' + 'M' 

interval = hund_place - 5

if abs(interval) < 4:
    if interval > 0:
        hundreds += 'D' + 'C' * interval 
    else:
        hundreds += 'C' + 'D' * interval

## TENS
if ten_place < 4:
    tens += 'X' * ten_place

if ten_place == 9:
    tens += 'X' + 'C' 

interval = ten_place - 5

if abs(interval) < 4:
    if interval > 0:
        tens += 'L' + 'X' * interval 
    else:
        tens += 'X' + 'L' * interval 
        
## ONES

if ones_place < 4:
    ones += 'I' * ones_place

if ones_place == 9:
    ones += 'I' + 'X' 

interval = ones_place - 5

if abs(interval) < 4:
    
    if interval > 0:
        ones += 'V' + 'I' * interval 
    else:
        ones += 'I' + 'V'


print('thousands numeral: ', thousands)
print('hundreds numeral: ', hundreds)
print('tens numeral: ', tens)
print('ones numeral: ', ones)
numeral = thousands + hundreds + tens + ones
numeral

thousands:  0
hundreds:  0
tens:  2
ones:  1
thousands numeral:
hundreds numeral:
tens numeral:  XXX
ones numeral:  I

'XXXI'

In [141]:
tens += 'X' * ten_place
tens

'XXXXX'

In [142]:
ten_place

2

In [143]:
'X' * ten_place

'XX'

In [60]:
int(n%1000/100)

8

In [67]:
(n%100)

49

In [74]:
int(n%1000/100)

8

In [72]:
int((n%100)/10)

4

In [70]:
n%10

9